.bg-color-header-part{
    background-color: #264653;;

}
.button-new-class{
    background: #E76F51;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 140px;
    height: 44px;
}
.text-font-new{
    font-family: 'Poppins', sans-serif;
}
.h1-new-font{
    font-family: 'Poppins', sans-serif;
}
.main-p-text{
    color:#E76F51;
    font-size: 14px;
}
.gray-img{
    filter: grayscale(100%);
}
span{
    color:#E76F51;
}
.happy-client-img{
    height: 149px;
    width: 149px;   
}
.i-new-color{
    color:#E76F51;
}
.p-color{
    color:#23A6F0
}
.list-style{
    text-decoration: none;
}
 


